In [2]:
#this program prints "Hello world!"
print('Hello world!')

Hello world!

In [6]:
# this code detects type of the number 11.22 and of string '11'
type(11.22), type('11'), type(11)

(float, str, int)

In [2]:
#boolean type determination and casting
type(True), int(True), type(False), int(False)

(bool, 1, bool, 0)

In [30]:
#division and type casting
x=25/5
y=0
25/5,25//5, int(25/5), float(25//5), str(25/5), bool(x), bool(y)

(5.0, 5, 5, 5.0, '5.0', True, False)

In [32]:
#mathematical function returns 1 if number equals 0 and returns 0 otherway
x=25/5
y=0
int(1/(1+x*x)), int(1/(1+y*y))

(0, 1)

In [65]:
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [6]:
#calculation of total duration in hours
total_min=43+42+57
total_hr=total_min/60
print(total_hr,'or approximately', int(total_hr), 'hours')

2.3666666666666667 or approximately 2 hours

In [33]:
#string manipulations
Name="Michael Jackson"
Name[0], Name[-1], Name[0:4], Name[0:8:2]
len(Name)
Statement=Name+" is the best"
print(Statement)

Michael Jackson is the best

In [36]:
#printing strings options
print('Michael Jackson \n is the best')
print('Michael Jackson \t is the best')
print('Michael Jackson \\ is the best')
print(r'Michael Jackson \ is the best')

Michael Jackson
 is the best
Michael Jackson 	 is the best
Michael Jackson \ is the best
Michael Jackson \ is the best

In [43]:
#string manipulations
A='Michael Jackson is the best'
B=A.upper()
C=B.lower()
D=A.replace('Michael','Janet')
jack_position=A.find('Jack')
jacob_position=A.find('Jacob')
print(B)
print(C)
print(D)
print(jack_position)
print(jacob_position)

MICHAEL JACKSON IS THE BEST
michael jackson is the best
Janet Jackson is the best
8
-1

In [2]:
#tuples
tuple1=('disco',10,1.2)
tuple2=tuple1+('hard rock',11)
print(type(tuple1))
print(tuple1[0],tuple1[-3])
print(len(tuple2),tuple2[3])
print(tuple2[0:4])

<class 'tuple'>
disco disco
5 hard rock
('disco', 10, 1.2, 'hard rock')

In [60]:
#lists
L=['Michael Jackson',10.1,1982]
L.append(['pop',10])
print(L)
L.extend(['pop',10])
print(L)
L.append(['pop',10])

['Michael Jackson', 10.1, 1982, ['pop', 10]]
['Michael Jackson', 10.1, 1982, ['pop', 10], 'pop', 10]

In [4]:
#lists are muttable - we can change them
A=['disco',10,1.2]
A[0]='hard rock'
print(A)
del(A[0])
print(A)
A.extend(['disco',3.14])
print(A)
A.append(['disco',3.14])
print(A)

['hard rock', 10, 1.2]
[10, 1.2]
[10, 1.2, 'disco', 3.14]
[10, 1.2, 'disco', 3.14, ['disco', 3.14]]

In [5]:
#splitting
'hard rock'.split(), 'A,B,C,D'.split(',')

(['hard', 'rock'], ['A', 'B', 'C', 'D'])